Testimonials.css .testimonials {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .testimonials-content {
    width: 100%;
    
  }
  
  .section-t {
    margin-bottom: 40px;
    
  }
  
  .testimonials-content h3 {
    font-size: 6rem;
    margin-bottom: 20px;
    /* border: 1px solid red; */
  }
  
  .slick-slider {
    width: 100%;
    margin: 0 auto;
  }
  
  .slick-slide {
    padding: 0 10px; /* Adjusted padding */
  }
  
  .item {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    transition: var(--transition);
    text-align: center;
    max-width: calc(100% - 10px);
    margin: 0 auto;
    
    
  }
  
  .item::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 5px;
    background: rgb(87, 100, 222);
    background: linear-gradient(
      45deg,
      rgba(87, 100, 222, 1) 0%,
      rgba(85, 179, 213, 1) 100%
    );
    transition: var(--transition);
  }
  
  .item:hover::after {
    width: 100%;
  }
  
  .item-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 10px;
  }
  
  .item-img img {
    max-width: 100%;
    border-radius: 50%;
  }
  
  .item-name {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .item-text {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .item-rating {
    margin-top: 15px;
    list-style-type: none;
    padding: 0;
  }
  
  .item-rating li {
    display: inline;
    margin-right: 5px;
  }
  
  @media screen and (min-width: 768px) {
    .section-t {
      text-align: center;
    }
    .slick-slider {
      padding: 0 30px;
    }
  }